*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: antiquewhite; */
    font-family: circularstd, sans-serif;
    background-image: url("bac-img.png" );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 1120px;
    margin-inline: auto;
  }

  .main{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 96vh;
    width: 40%;
    top: 3%;
    left: 30%;
    position: fixed;
    border-radius: 1rem;
    padding: 1.5rem;   
  
  }

  .login-page{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
 .sign-in{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    
 }

 .sign-in h6 {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.3125rem;
    color:  #0b2238;
 }
 .sign-in h6:hover {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.3125rem;
    color:  rgb(22, 93, 245);
 }
 .sign-in p {
    font-size: 0.8125rem;
    font-weight: 600;
    line-height: 1.3125rem;
    color:  rgb(22, 93, 245);
 }

 .main h1 {
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 2.375rem;
    color:#0b2238;
    margin: 1rem 0;
 }
 .other-login {
    display: flex;
    max-width: 100%;
    gap: 1rem;
  
 }
 .other-login .sign-up-google{
  width: 65%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #212529;
  background-color: rgba(11, 34, 56, .05);
  border: none;
  padding: 1rem ;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;

 }
 .other-login .sign-up-google:hover{
    border: solid 3px rgb(103, 128, 208);
 }

 .other-login .sign-up-google i{
    margin-right: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25rem;
 }


 .other-login .sign-up-twitter{
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px #edeef1;
    background-color: #fff;
    font-size: 1.25rem;
    color: #6c7a87;
    line-height: 1.25rem;
    cursor: pointer;
  
 }

 .other-login .sign-up-twitter:hover {
    border: solid 3px rgb(103, 128, 208);
 }

 .line{
    border-bottom: 1px solid #edeef1;
    position: relative;
    margin: 2rem 0;
 }

 .line .or {
    position: absolute;
    padding: 0 1rem;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #535e68;
    text-align: center;
    text-transform: capitalize;
    top: -12px;
    left: 0;
    right: 0;
    width: 3.5rem;
    margin: auto;
 }

 form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
 }
form input{
    height: 40px;
    width: 100%;
    margin: 0.5rem 0;
    padding: 8px 15px;
    color: #0b2238 !important;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 500;
    border-color: solid 1px #edeef1;
    font-family: circular std book;
}
 form .names {
    display: flex;
    gap: 1rem;
 }

 .main .click {
   font-size: 0.8rem;
   font-weight: 600;
   color: #6c7a87;
   line-height: 1.25rem;

 }
 .main .click span{
   font-size: 0.8rem;
   font-weight: 600;
   color: #0056b3;
   line-height: 1.25rem;

 }

 
 .main button {
   font-size: 1rem;
   font-weight: 600;
   color: #FFF;
   line-height: 1.25rem;
   background-color: #0056b3;
   border: none;
   padding: 0.5rem;
   border-radius: 0.5rem;

 }
 @media (max-width:768px){

    .main {
        width: 93%;
        top: 2%;
        left: 2%;
   
    }
 }



  