
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: circularstd, sans-serif;
  }
  
  .container {
    width: max(80%, 1120px);
    margin-inline: auto;
  }
  
  header {
    padding: 1.6875rem 0;
  }
  
  .desktop-menue {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 2.375rem;
  }
  
  .desktop-menue .menues-link {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  
  .desktop-menue .menues-link a {
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .desktop-menue .menues-link a:hover {
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  }
  
  .desktop-menue .menues-link-butten {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
  }
  
  .desktop-menue .menues-link-butten a {
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .desktop-menue .menues-link-butten a:hover {
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  }
  
  .desktop-menue .menues-link-butten .start {
    background-color: #2761ec;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .desktop-menue .menues-link-butten .start a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .mobile-header {
    display: none;
  }
  
  .mobile-menue {
    display: none;
  }
  .pricing-hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container h1{
    font-size: 4.6875rem;
    font-weight: 700;
    line-height:5.625rem;
    color: #0b2238;
    text-align: center;
  }
  .billing-container {
    margin-top: 1rem;
    display: flex;
   justify-content: center;
    align-items: center;
  }
  
  .billing-label {
    margin: 0 10px;
  font-size: 1.75rem;
  font-weight: 400;
  }
  
  .save {
    margin-left: 10px;
  font-size: 1.75rem;
  font-weight: 400;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  .grid-pricing{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
  }
  
  .pricing-card{
    background-color: #fdf1f7;
    border-radius: 8px;
    padding: 1.75rem;
    width: 400px;
    height: 507px;
  }
  .pricing-card .pricing-month{
    display: flex;
   
  
  }
  .pricing-card .pricing-month span{
    font-size:0.875rem;
    font-weight: 400;
    color: #212529;
  }
  .pricing-card .pricing-month h2{
    font-size: 5.25rem;
    font-weight: 300;
    color: #f7afc0;
  }
  
  .business-start{
  margin-top: 1rem;
  line-height: 1.25rem;
  padding: 1rem;
  }
  .business-start h3{
    font-size:0.875rem;
    font-weight: 700;
    color: #343a40;
    
  }
  .business-start p{
    font-size:0.875rem;
    font-weight: 400;
    font-size: 1.3125rem;
    color: #6c7a87;
    border-bottom: 1px solid #888a8b;
  }
  .projects{
   margin-top: 1.25rem;
  }
  .list-project{
    display: flex;
    gap: 0.75rem;
    line-height:1.75rem;
  
  }
  .btn{
    margin-top: 1rem;
    padding: 0.75rem 5.5625rem;
    border: none;
    border-radius: 8px;
    color: #0b2238;
    background-color: #fff;
    text-align: center;
  
  }
  .btn a{
    text-decoration: none;
    text-align: center;
    
  }
  .Essentials{
  background-color: #eef3fe;
  }
  .Essentials .pricing-month h2{
    color:#2761ec;
  
  
  }
  .Premium{
  color: white;
  background-color:#2761ec ;
  }
  .Premium .pricing-month span{
    color: white;
  }
  .Premium .pricing-month h2{
    color: white;
  }
  .Premium .business-start h3 {
    color: #fff; 
  }
  .Premium .business-start p{
    color: #fff;
  }
  
  .sec-plan{
    margin-top: 2.5rem;
  }
  .header {
    margin-top: 2rem;
  
  
  }
  
  
  .header p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
  }
  .header p::before {
    content: "";
    flex: 0 0 80px; 
    border-top: 1px solid grey;
    margin-right: 10px; 
  }
  
  .header h1 {
    margin-top: 1rem;
    display: flex;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    color: #333;
    align-items: flex-start;
  }
  
  .plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 1rem;
  }
  
  .plan h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .basic h2{
    border-bottom: 1px solid #f7afc0;;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  
  }
  .Essential h2{
    border-bottom: 1px solid #eef3fe;;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  
  }
  .plan p {
    font-size: 0.875rem;
    font-weight: 400;
    color: #666;
    line-height: 1.4rem;
  }
  
  .premium h2 {
    border-bottom: 1px solid #007bff;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  }
  .get-start{
    width: 100%;
    max-width: 102.7940625rem;
    height: auto;
    background-color: #f8f9fa;
    border-top-right-radius: 2.25rem;
    border-top-left-radius: 2.25rem;
    color: black;
    padding: 2rem;
    margin: 2rem auto;
  }
  .get-start .container p{
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    color: #6c7a87;
  }
  .get-start .container h1{
    font-size:3.75rem ;
    line-height: 4.5rem;
    font-weight: 700;
  
  }
  .get-start .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .get-start .container button{
   padding: .85rem 1.8rem;
   text-align: center;
   font-size: 0.9375rem;
   line-height: 1.4375rem;
   border: none; 
   color: white;
   border-radius: 0.3rem;
   background-color: #0069d9;
   cursor: pointer;
  }
  

  
  
  @media(max-width:768px){
    .desktop-menue {
        display: none;
      }
    
    
      .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        position: sticky;
        top: 0;
        z-index: 10;
    
        background-color: #fff;
      }
    
      .hamburger {
        font-size: 2rem;
        cursor: pointer;
      }
    
      .mobile-menue {
        /* display: flex; */
        flex-direction: column;
        background-color: #fff;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
      }
    
      .mobile-menue[data-visible="true"] {
        transform: translateY(0%);
      }
      .mobile-menue[data-visible="false"] {
        transform: translateY(0%);
        display: flex;
      }
    
      .hamburger i[data-visible="false"] {
        display: none;
      }
    
      .hamburger i[data-visible="true"] {
        display: block;
      }
    
      .navigation .menues-link {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        margin-top: 1rem;
      }
    
      .navigation .menues-link li {
        border-bottom: 1px solid gray;
        color: black;
      }
    .container h1{
        font-size: 2.5rem;
        font-weight: 700;
        line-height:3rem;
    }
    .pricing-hero{
        flex-wrap: wrap;
    }
    .billing-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
  }
  
  .billing-label, .save {
      margin: 5px 0;
  }
  
  .save {
      margin-left: 0;
  
  }
  
    .grid-pricing{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .header h1 {
        font-size: 1.5rem;
    }
    .plans {
        grid-template-columns: 1fr;
    }
    .get-start {
        padding: 1.5rem;
        
       
    }
  
    .get-start .container h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
  
    .get-start .container p {
        font-size: 0.75rem;
    }
  
    .get-start .container button {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }
    
  }
  