@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: circularstd, sans-serif;
}

.container {
  max-width:max(80%, 1120px);
  margin-inline: auto;
}

header {
  padding: 1.6875rem 0;
  
  /* background-image: url("https://askbootstrap.com/preview/landeng/img/slider1.jpg") ; */
  /* height: 150vh; */
}

.desktop-menue {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
 padding: 1rem 5rem;
  top: 0;
  width: 100%;
  /* background-color: #f1afb0; */

 
}

.logo {
  height: 2.375rem;
}

.desktop-menue .menues-link {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.desktop-menue .menues-link a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
}

.desktop-menue .menues-link a:hover {
  background-color: #2761ec;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
}

.desktop-menue .menues-link-butten {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  align-items: center;
}

.desktop-menue .menues-link-butten a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
}

.desktop-menue .menues-link-butten a:hover {
  background-color: #2761ec;
  padding: 10px 10px;
  border-radius: 10px;
  color: #fff;
}

.desktop-menue .menues-link-butten .start {
  background-color: #2761ec;
  padding: 10px 20px;
  border-radius: 10px;
}

.desktop-menue .menues-link-butten .start a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  line-height: 21px;
  font-weight: 400;
}

.mobile-header {
  display: none;
}

.mobile-menue {
  display: none;
}
  .pricing-hero{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .container h1{
    font-size: 3.6875rem;
    font-weight: 700;
    line-height:5.625rem;
    color: #0b2238;
    text-align: center;
  }
  .billing-container {
    margin-top: 1rem;
    display: flex;
   justify-content: center;
    align-items: center;
  }
  
  .billing-label {
    margin: 0 10px;
  font-size: 1.75rem;
  font-weight: 400;
  }
  
  .save {
    margin-left: 10px;
  font-size: 1.75rem;
  font-weight: 400;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  .card-p .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    
}


.card {
  background: #fff;
  border-radius: 10px;
  padding: 2rem 1rem;
  height: 70vh;
  width: 400px;
 
}

.card h3 {
  font-size: 2.5rem;
  margin: 0;
  color: #333;
}

.card h3 span {
  font-size: 1rem;
  color: #888;
}
.essentials h3{
  color: #0056b3;
}

.card h4 {
  font-size: 1.5rem;
  color: #555;
  margin: 10px 0;
}

.card p {
  font-size: 1rem;
  color: #888;
  margin-bottom: 20px;
  border-bottom: 1px solid #9b9a9a;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  font-size: 1rem;
  margin: 10px 0;
  color: #555;
 
}

.card ul li i {
  color: #4CAF50;
  margin-right: 10px;
}

.card button {
  background-color:#fff;
  color:#000;
  border: none;
  padding: 1rem 5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 3rem;
  margin-left: 2rem;
}

.card button:hover {
  background-color: #0056b3;
}

.standard {
  background-color: #ffefef;
  
}

.essentials {
  background-color: #e8f4ff;
 
}

.Premium {
  background-color:#007BFF;
  color: #fff;
}

.standard h3 {
  color: #fa9999;
}

.essentials h3 {
  color: #6ab4f8;
}

.Premium h3 {
  color: #fff;

}
.Premium  h4{
  color: #fff;
}
.Premium p{
  color: #fff;
}
 .Premium ul li {
  color: #fff;
 }
 .Premium ul li i{
  /* background-color: #fff; */
  color:#fff;
 }
  
  .sec-plan{
    margin-top: 2.5rem;
  }
  .header {
    margin-top: 2rem;
  
  
  }
  
  
  .header p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #666;
  }
  .header p::before {
    content: "";
    flex: 0 0 80px; 
    border-top: 1px solid grey;
    margin-right: 10px; 
  }
  
  .header h1 {
    margin-top: 1rem;
    display: flex;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 3.375rem;
    color: #333;
    align-items: flex-start;
  }
  
  .plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 1rem;
  }
  
  .plan h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .basic h2{
    border-bottom: 1px solid #f7afc0;;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  
  }
  .Essential h2{
    border-bottom: 1px solid #eef3fe;;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  
  }
  .plan p {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    line-height: 1.4rem;
  }
  
  .premium h2 {
    border-bottom: 1px solid #007bff;
    padding-bottom: 0.5rem;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.25;
  }
  .get-start{
    width: 100%;
    background-color: #f8f9fa;
    border-top-right-radius: 2.25rem;
    border-top-left-radius: 2.25rem;
    color: black;
    padding: 2rem;
    /* margin: 2rem auto; */
    margin-bottom: 0.5rem;
  }
  .get-start .container p{
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    color: #6c7a87;
  }
  .get-start .container{
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
  }
  .get-start .container h1{
    font-size:2.75rem ;
    line-height: 4.5rem;
    font-weight: 700;
  
  }
 
  .get-start .container button{
   padding: .85rem 1.8rem;
   text-align: center;
   font-size: 0.9375rem;
   line-height: 1.4375rem;
   border: none; 
   color: white;
   border-radius: 0.3rem;
   background-color: #0069d9;
   cursor: pointer;
  }
  footer{
    background-color: #f8f9fa;
    padding: 2rem  0;
  }
  
  footer .concludes {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
   
  }
  
  footer .concludes .social-media {
    width: 30%;
    display: flex;
    flex-direction: column;
    
  }
  footer .concludes .social-icons {
   margin: 1.5rem;
   font-size: 1.5rem;
   color: #2761ec;
    
    
  }
  
  footer .concludes .operations {
    width: 70%;
    display: flex;
    gap: 7rem;
  }
  
  
  footer .concludes .operations .operation-part-one {
  
    display: flex;
    gap: 7rem;
  }
  
  footer .concludes .operations  p {
   font-size: 0.875rem;
   font-weight: 700;
   line-height: 1.3125rem;
   color:  rgb(108, 122, 135);
   margin-bottom: 1.3rem;
  }
  footer .concludes .operations ul li {
    list-style: none;
    padding: 0.5rem 0;
  }
  footer .concludes .operations ul li a {
   text-decoration: none;
   color: #000;
   font-size: 0.875rem;
   font-weight: 500;
   line-height: 1.3125rem;
  }
  footer .concludes .operations ul li a:hover {
    color: #2761ec;
   
  }
  
  .copy-right{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
   .copy-right  p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    color:  rgb(108, 122, 135);
   
   }
   .copy-right  p span {
    color: #0056b3;
    font-weight: 700;
   }

  
   @media (max-width: 768px) {
    .desktop-menue {
      display: none;
    }
  
  
    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;
      position: fixed;
      top:0 ;
      width: 100%;
      z-index: 10;
  
      /* background-color: #fff; */
    }
  
     .hamburger i {
      background-color: #2761ec;
      padding: 5px 10px ;
      border-radius: 5px;
      color: white;
    }
  
    .hamburger {
      font-size: 2rem;
      cursor: pointer;
    }
  
    .mobile-menue {
      /* display: flex; */
      flex-direction: column;
      /* background-color: #fff; */
      transform: translateY(-100%);
      transition: transform 350ms ease-in-out;
      position: absolute;
      top: 70px;
      width: 100%;
      z-index: 5;
    }
  
    .mobile-menue[data-visible="true"] {
      transform: translateY(0%);
    }
    .mobile-menue[data-visible="false"] {
      transform: translateY(0%);
      display: flex;
    }
  
    .hamburger i[data-visible="false"] {
      display: none;
    }
  
    .hamburger i[data-visible="true"] {
      display: block;
    }
  
    .navigation .menues-link {
      display: flex;
      flex-direction: column;
      gap: 15px;
      text-align: center;
      margin-top: 1rem;
    }
  
    .navigation .menues-link li  a{
     text-decoration: none;
      color: black;
    }
  
    .navigation .menues-link  .start{
      background-color: #2761ec;
      padding: 10px 20px;
      border-radius: 10px;
      margin: 0 20px;
      list-style: none;
  
    }
  
    .navigation .menues-link  .start a {
      color: white;
    }
    .container h1{
        font-size: 2.5rem;
        font-weight: 700;
        line-height:3rem;
    }
    .pricing-hero{
        flex-wrap: wrap;
    }
    .billing-container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
  }
  
  .billing-label, .save {
      margin: 5px 0;
  }
  
  .save {
      margin-left: 0;
  
  }
  
  .card-p .container {
    grid-template-columns: 1fr;
    gap: 1rem;

}

.card {
    padding: 15px;
   gap: 1rem;
   margin-right: 1rem;
}

.card h3 {
    font-size: 2rem;
}

.card h4 {
    font-size: 1.25rem;
}

.card p, .card ul li {
    font-size: 0.9rem;
}

.card button {
    padding: 1rem 2rem;
    font-size: 0.9rem;
}
    .header h1 {
        font-size: 1.5rem;
    }
    .plans {
        grid-template-columns: 1fr;
        gap: 0.75rem;
    }
    .get-start {
      height: auto;
      padding: 1rem;
      margin: 1rem auto;
    }
  
    .get-start .container h1 {
      font-size: 2rem;
      line-height: 3rem;
    }
  
    .get-start .container p {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  
    .get-start .container button {
      padding: 0.75rem 1.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
          
footer {
  display: none;
   
  }
    

  
  .copy-right{
    flex-direction: column;
    align-items: center;
  }
    
  }
  