* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: circularstd, sans-serif;
  }
  
  .container {
    width: max(80%, 1120px);
    margin-inline: auto;
  }
  
  header {
    padding: 1.6875rem 0;
  }
  
  .desktop-menue {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 2.375rem;
  }
  
  .desktop-menue .menues-link {
    display: flex;
    gap: 2rem;
    list-style: none;
  }
  
  .desktop-menue .menues-link a {
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .desktop-menue .menues-link a:hover {
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  }
  
  .desktop-menue .menues-link-butten {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
  }
  
  .desktop-menue .menues-link-butten a {
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .desktop-menue .menues-link-butten a:hover {
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  }
  
  .desktop-menue .menues-link-butten .start {
    background-color: #2761ec;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .desktop-menue .menues-link-butten .start a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
  }
  
  .mobile-header {
    display: none;
  }
  
  .mobile-menue {
    display: none;
  }

.rec-con{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    }
    .resource-hero .rec-con h1{
    font-size: 4.6875rem;
    font-weight: 700;
    line-height:5.625rem;
    color: #0b2238;
    text-align: center;
    
    }
    .resource-hero .rec-con form{
    margin: 1rem;
    position: relative;
    }
    .resource-hero .rec-con form input{
    padding: 1rem 7rem;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box
    }
    .resource-hero .rec-con form i{
    color: #0069d9;
    position: absolute;
    left: 1rem; 
    top: 50%;
    transform: translateY(-50%)
    
    }
     
  @media(max-width:768px){
    .desktop-menue {
        display: none;
      }
    
    
      .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        position: sticky;
        top: 0;
        z-index: 10;
    
        background-color: #fff;
      }
    
      .hamburger {
        font-size: 2rem;
        cursor: pointer;
      }
    
      .mobile-menue {
        /* display: flex; */
        flex-direction: column;
        background-color: #fff;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;
      }
    
      .mobile-menue[data-visible="true"] {
        transform: translateY(0%);
      }
      .mobile-menue[data-visible="false"] {
        transform: translateY(0%);
        display: flex;
      }
    
      .hamburger i[data-visible="false"] {
        display: none;
      }
    
      .hamburger i[data-visible="true"] {
        display: block;
      }
    
      .navigation .menues-link {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        margin-top: 1rem;
      }
    
      .navigation .menues-link li {
        border-bottom: 1px solid gray;
        color: black;
      }
    .container h1{
        font-size: 2.5rem;
        font-weight: 700;
        line-height:3rem;
    }
    
    
  }
  