*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: circularstd, sans-serif;
}
.container{
    width: max(80%, 1120px);
    margin-inline: auto;
}

header{
    padding: 1.6875rem 0;
}
.desktop-menue{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 2.375rem;
}
.desktop-menue .menues-link {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.desktop-menue .menues-link a{
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
}

.desktop-menue  .menues-link a:hover{
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  
}
.desktop-menue .menues-link-butten {
    display: flex;
    gap: 0.5rem;
    list-style: none;
    align-items: center;
}

.desktop-menue .menues-link-butten a{
    text-decoration: none;
    color: #000;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
}
.desktop-menue .menues-link-butten a:hover{
    background-color: #2761ec;
    padding: 10px 10px;
    border-radius: 10px;
    color: #fff;
  
}
.desktop-menue .menues-link-butten .start{
    background-color: #2761ec;
    padding: 10px 20px;
    border-radius: 10px;
}
.desktop-menue .menues-link-butten .start a{
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
}
.mobile-header {
    display: none;
}
.mobile-menue{
    display: none;
}

@media (max-width:768px){
    .desktop-menue{
        display: none;
    }

    body{
    /* background-color: #2761ec; */
   }
   .mobile-header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: sticky;
    top: 0;
    z-index: 10;
   }
    .hamburger{
        display: flex;
         position: absolute;
         top: 4%;
         right: 5%;
         font-size: 2rem;
         

    }
    .hamburger i[data-visible="true"]{
        display: block;
 
     }
 
     .hamburger i[data-visible="false"]{
        display: none;
 
     }  
      .mobile-menue{
        display: flex;
        position: absolute;
        top: 5px;
        transform: translateY(0%);
        transition: transform 3s ease-in-out;
     
      
        width: 100%;
        z-index: 1;
    }

    .mobile-menue [data-visible="true"]{
        transform: translateY(100%);

    }

   

    .mobile-menue{
        display: flex;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        
    }

    .navigation .menues-link{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        margin-top: 1rem;
        
    }

    .navigation .menues-link li{
        border-bottom: 1PX solid gray;
        color: black;
         
      }
}